<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Juliett.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <Juliett.Properties.Settings>
            <setting name="textBox1Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="textBox2Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="textBox3Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="textBox4Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="textBox5Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="textBox6Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="textBox7Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="textBox8Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="textBox9Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="textBox10Text" serializeAs="String">
                <value/>
            </setting>
        </Juliett.Properties.Settings>
    </userSettings>
</configuration>
